/* main utilities  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
	--color-bg-main: #ffffff;
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-button: #0061ff;
	--color-box-1: #a2d39b;
    --color-box-2: #61082b;
    --color-box-3: #d5001f;
    --color-box-4: #b4d0e7;
    --color-box-5: #0093ce;
    --color-box-6: #ff1c1c;
    --color-box-7: #0d2481;
    --color-box-8: #ffd830;
	--color-box-large: #f5f5f5;
}

/* Flex  */
.d-flex {
    display:flex;
}
.just-space-between {
    justify-content: space-between;
}
.just-flex-start {
    justify-content: flex-start;
}
.just-flex-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
    align-content: center;
}
.align-start {
    align-items: flex-start;
    align-content: flex-start;
}
.wrap {
    flex-flow: row wrap;
}

