/* main utilities  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
	--color-bg-main: #ffffff;
	--color-bg-hero: #b8d1e5;
    --color-text: #000000;
	--color-bg-footer: #000000;
	--color-button: #0061ff;
	--color-box-1: #a2d39b;
    --color-box-2: #61082b;
    --color-box-3: #0093ce;
    --color-box-4: #ff1c1c;
    --color-box-5: #d5001f;
    --color-box-6: #b4d0e7;
    --color-box-7: #0d2481;
    --color-box-8: #ffd830;
	--color-box-large: #f5f5f5;
    --color-call-to-action-title: #61082b;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

/* .debug {
    border: 1px solid var(--color-bg-footer);
} */


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-bg-main);
    display: block;
}

.blue-button {
    background-color: var(--color-button);
    padding: 10px 20px;
    color: var(--color-bg-main);
    border: 1px solid var(--color-button);
}

.blue-button:hover {
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

.simple-anchor {
    color: var(--color-button);
    text-decoration: underline;
}

.simple-anchor:hover{
    color: var(--color-box-6);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.hr-small {
    width: 25%;
    border-bottom: 1px solid lightgray;
}

.hr-xsmall {
    width:15%;
    border-bottom: 1px solid lightgray;
}

/* divisori  */
.divider-50 {
    margin-bottom:50px;
}
.divider-30 {
    margin-bottom: 30px;
}
.divider-20 {
    margin-bottom: 20px;
}
.divider-10 {
    margin-bottom: 10px;
}
.section-divider {
    margin-bottom: 100px;
}

/* Flex  */
.d-flex {
    display:flex;
}
.column {
    flex-direction: column;
}
.just-space-between {
    justify-content: space-between;
}
.just-space-around {
    justify-content: space-around;
}
.just-flex-start {
    justify-content: flex-start;
}
.just-flex-end {
    justify-content: flex-end;
}
.just-center {
    justify-content: center;
}
.align-center {
    align-items: center;
    align-content: center;
}
.align-start {
    align-items: flex-start;
    align-content: flex-start;
}
.align-baseline {
    align-items: baseline;
    align-content: baseline;
}
.align-stretch {
    align-items: stretch;
    align-content: stretch;
}
.wrap {
    flex-flow: row wrap;
}
.row-gap {
    row-gap: 50px;
}
.column-gap {
    column-gap: 35px;
}
.column-gap-small {
    column-gap: 10px;
}

/* header */

/* nav  */
nav {
    height: 80px;
    background-color: var(--color-bg-main);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}

nav img {
    margin-right: 20px;
}

.nav-main-menu > li {
    position: relative;
}

.nav-menu-title {
    color: var(--color-text);
    line-height: 80px;
    padding: 0 20px;
}

.nav-menu-title:hover {
    background-color: var(--color-box-large);
    cursor: pointer;
}

nav .blue-button {
    margin-left: 20px;
}

/* navbar submenu */

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
}

.submenu h5 {
    padding: 10px 20px;
}

.submenu li a{
    font-size: 0.8em;
    color: var(--color-text);
    padding: 10px 20px;
}

.submenu li a:hover {
    background-color:  #e4e4e4;
    text-decoration: underline;
}

.nav-main-menu > li:hover .submenu{
    display: block;
    background-color: var(--color-box-large);
    width: 100%;
}





/* hero  */
#hero {
    background-color: var(--color-bg-hero);
    margin-top: 80px;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
.hero-divider {
    margin-top: 60px;
    margin-bottom: 60px;
}

#hero h1 {
    font-size: 5em;
    font-weight: 900;
    padding-top: 70px;
}
.hero-text {
    max-width: 30%;
}

#hero a {
    display: block;
    width: fit-content;
    color: var(--color-text);
}

#hero .arrow-down {
    font-size: 3em;
    color: var(--color-text);
}

#hero .arrow-down:hover {
    font-size: 3.2em;
}

.hero-content {
    position: relative;
    top: 80px;
}

.hero-img img {
    width: 100%;
}


/* main  */


main {
    padding-top: 150px;
}

main h2 {
    font-size: 2.5em;
}

main h3 {
    font-size: 1.5em;
}

/* billing section  */
.billing-plan {
    width: 30%;
    border: 1px solid lightgray;
}
.billing-plan-header {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}
.billing-plan-body {
    padding: 30px 20px;
}

.sub-price {
    font-weight: lighter;
}

.billing-plan-body .blue-button {
    text-align: center;
}
.billing-plan-body .simple-anchor {
    display: inline-block;
}
.billing-plan-details i {
    color: var(--color-button);
}
.billing-plan-big-box {
    border: 1px solid lightgray;
}
.billing-plan-big-box a{
    width: 35%;
}


/*partner section  */
.dropbox-partner img {
    width: 60%;
}
.dropbox-partner-text {
    padding: 50px 20px;
}

.dropbox-partner a {
    color: var(--color-text);
    border: 2px solid var(--color-text);
    padding: 10px 15px;
    display: block;
    width: fit-content;
}

.dropbox-partner a:hover {
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    color: var(--color-bg-main);
}

/* dropbox business section  */

.card {
    width: 30%;
}

.card img {
    width: 100%;
}

.dropbox-business .second-h2 {
    padding-top: 200px;
}

/* brand  */

.brand-wrapper {
    width: calc(100% / 3);
    height:calc(100vw / 3);
    background-color: var(--color-box-large);
}
.brand-box {
    width: 50%;
    height: 50%;
}
.brand-box img {
    filter: invert(100%);
    width: 50%;
}
.brand-box:hover {
    border: 15px solid rgba(255, 255, 255, 0.3);
}

.brand-box:hover img {
    width:calc(50% + 15px);
}

#designit {
    background-color: var(--color-box-1);
}
#asu {
    background-color: var(--color-box-2);
}
#uf {
    background-color: var(--color-box-3);
}
#topps {
    background-color: var(--color-box-4);
}
#wbr {
    background-color: var(--color-box-5);
}
#hearst {
    background-color: var(--color-box-6);
}
#lonely-planet {
    background-color: var(--color-box-7);
}
#clear-channel {
    background-color: var(--color-box-8);
}

#big-brand-wrapper {
    padding: 50px;
    overflow-y: auto;
}
#big-brand-wrapper img {
    width: 50%;
}



/* call to action  */
.call-to-action {
    background-color: var(--color-box-6);
    height: calc(100vw / 6);
}

.call-to-action h2 {
    color: var(--color-call-to-action-title);
    padding: 0;
}

.call-to-action-text {
    width: 50%;
}
.call-to-action-button a {
    color: var(--color-text);
    background-color: var(--color-bg-main);
    padding: 10px 20px;
    border: 1px solid var(--color-bg-main);

}

.call-to-action-button a:hover {
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    color: var(--color-bg-main);
}

/* faq */
.faq-question {
    padding: 50px 0;
    border-bottom: 1px solid var(--color-text);
}

.faq-box .faq-question:first-child {
    border-top: 1px solid var(--color-text);
}

.faq h3 {
    font-size: 1.2em;
}
.faq-question p {
    margin-top: 20px;
}

.faq-box p, .faq-box .fa-chevron-down {
    display: none;
}

.faq-question:hover {
    background-color: var(--color-box-large);
}

.faq-question:hover .fa-chevron-up {
    display: none;
}

.faq-question:hover p, .faq-question:hover .fa-chevron-down {
    display: block;
}


/* footer  */
footer {
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    padding: 50px 0;

}

.footer-sections h4 {
    font-size: 1.4em;
}
.footer-sections li {
    font-size: 1.2em;
    padding-bottom: 15px;
}
footer a:hover {
    text-decoration: underline;
}

.choose-language {
    color: lightgray;
    cursor: pointer;

}


/* resources page */

.res-container {
    max-width:1400px;
    margin: 0 auto;
    padding: 0 5px;
}

/*resources hero */
.res-hero-container {
    margin-top: 80px;
}
.res-hero-half {
    width: 50%;
    text-align: center;
    padding:70px;
}

#resources h1 {
    font-size: 3em;
    padding: 0;
    color: var(--color-bg-main);
}

.res-hero-half.main-title{
    background-color: var(--color-bg-footer);
}

.res-hero-half.main-p{
    background-color: var(--color-bg-hero);
}

/* choose resources section  */

.choose-resources {
    background-color: var(--color-box-large);
}

.choose-resources h2 {
    font-weight: 2.5em;
}

.browse-resources {
    width:50%;
    padding: 50px 0;
}
.browse-resources select {
    text-decoration: none;
}

/* resources main  */
#resources main {
    padding-top: 30px;
    background-color: var(--color-bg-main);
}

/* explore resources section  */

.res-card-container {
    background-color: var(--color-box-large);
    padding: 50px;
}

.res-card {
    width: 22%;
}

.res-card-picture img{
    width:100%;
    height:200px;
    object-fit: cover;
}
.res-card a {
    color: var(--color-text); 
}
.res-card a:hover {
    text-decoration: underline;
}
.load-more a {
    color: var(--color-text);
    background-color: var(--color-box-large);
    padding: 15px 20px;
    border: 1px solid var(--color-text);
}

.load-more {
    background-color: var(--color-box-large);
    padding-bottom: 50px;
}
.load-more a:hover {
    color: var(--color-bg-main);
    background-color: var(--color-button);
    padding: 15px 20px;
    border: 1px solid var(--color-button);
}

/* Resources call to cation  */
.res-call-to-action {
    background-color: var(--color-bg-hero);
    text-align: center;
    padding: 50px;
}

.res-call-to-action a{
    color: var(--color-text);
}
.res-call-to-action a:hover{
    text-decoration: underline;
}
.res-call-to-action h2{
    font-size: 3.5em;
}
.res-call-to-action h2:hover i{
    font-size: 0.8em;
}
